@import "../../custom";
@import "../../media-query";
@import "../../mixins";
@import "../../variables";
.location-box {
  background: $grey-color;
  padding: 30px;
  font-family: $font-montserrat;
  .icon-text {
    text-align: start;
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: $ln-h2;
    }

    gap: 10px;
  }
  p {
    margin-top: 18px;
    color: $purple-dark;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  a {
    display: inline-block;
    color: $green-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
