@import "../../mixins";
@import "../../variables";
@import "../../media-query";
@import "../../custom";
.featured-container {
  gap: 19px;
  @include flex($align: center, $justify: center);
  .featured-text {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: $ln-h2;
    }
  }
}
